<div class="row">
    <div class="col-xs-12 text-left">
        {{#link-to 'author.new' class="btn btn-success"}}
        Добавить автора
        {{/link-to}}
    </div>
</div>

<p>&nbsp;</p>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            {{#each model as |author|}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            Автор: {{author.name}}
                        </div>
                        <div class="col-xs-2 text-center">
                            {{#link-to 'author.show' author class="btn btn-info"}}Больше{{/link-to}}
                         </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
