<form action="#">
  <div class="form-group">
    <label for="name">Имя автора</label>
    {{input type="text" class="form-control" id="name" value=name placeholder="Пётр Петрович"}}
  </div>
  <button type="submit" class="btn btn-success" {{action "addNewRecord"}}>Добавить</button>
  {{#link-to 'author.index' class="btn btn-info"}}
  Отмена
  {{/link-to}}
</form>
