<div class="row">
  <div class="col-xs-6 text-left">
    {{#link-to 'author.edit' model class="btn btn-default"}}Редактировать{{/link-to}}
    </div>
    <div class="col-xs-6 text-right">
      {{#link-to 'author.index' class="btn btn-info"}}К списку авторов{{/link-to}}
      </div>
</div>
<p>&nbsp;</p>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Информация об авторе
        </h3>
      </div>
      <div class="panel-body">
        <p>
        <strong>Имя автора:</strong> {{model.name}}
        </p>
        <p>
        <strong>Книги</strong>
        <ul>
          {{#each model.books as |book|}}
            <li>{{book.title}}, жанр: {{book.genre}}, язык: {{book.language}}</li>
          {{/each}}
        </ul>
        <button class="btn btn-default" {{action "addRandomBook"}}>Добавить случайную книгу</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-right">
    <button class="btn btn-alert" {{action "deleteAuthor"}}>Удалить автора</button>
  </div>
</div>
