<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand"}}Книжный{{/link-to}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'author'}}Авторы{{/link-to}}</li>
            </ul>
            <ul class="nav navbar-nav">
                <li>{{#link-to 'login'}}Войти{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" role="main">
    {{outlet}}
</div>

