<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="alert alert-warning" role="alert" hidden={{noErrors}}>
            Пользователя с таким паролём в системе не зарегистрировано
        </div>
        <form action="#">
            <div class="form-group">
                <label for="email">Адрес электронной почты</label>
                {{input id="email" type="email" value=email class="form-control" placeholder="Email"}}
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                {{input type="password" class="form-control" value=password id="password" placeholder="Password"}}
            </div>
            <button type="submit" class="btn btn-default" {{action 'login'}}>Войти в систему</button>
        </form>
    </div>
</div>

